body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
}
.centered {
  text-align: center;
}

a {
  padding: auto 10px auto 10px;
  background: #E3E8F1;
}

#featured-property {
  text-align: center;
  width: 800px;
}
